/*** Basic settings ***/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-blue-color: rgba(163, 172, 185, 0.5);
    --blue-grey-color: rgb(72, 79, 89);
    --lighter-grey-color: rgb(60, 66, 74);
    --darker-grey-color: rgb(52, 58, 64);
    --most-darker-grey-color: rgb(47, 51, 57);
    --pink-color: rgb(228, 74, 125);
    --darker-pink-color: rgb(224, 61, 116);
    --light-text-color: rgb(225, 235, 242);
    --darker-text-color: rgba(103, 109, 116, 0.8);
    --font-family: "Open Sans", sans-serif;
    --input-btn-radius: 0.2em;
    --box-radius: 0.5em;
}

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(-135deg, var(--pink-color) 50%, var(--darker-pink-color) 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    letter-spacing: 0.05em;
    overflow: hidden;
}

/*** setting username and age ***/
/* login section */
.login-section,
.age-section {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, var(--pink-color) 50%, var(--darker-pink-color) 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(0);
    transition: all 1s ease;
}

.setting-form,
.age-form {
    width: 45%;
    background-color: var(--lighter-grey-color);
    padding: 2em 3em;
    border-radius: var(--box-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.valid-value {
    margin-top: 1em;
    color: var(--darker-text-color);
    font-weight: 600;
    display: none;
}

.setting-form.valid .valid-value {
    display: flex;
}

.setting-form .title,
.age-form .title {
    color: var(--light-text-color);
    font-size: 2.5em;
    margin-bottom: 0.5em;
    animation: pulse 3s ease-in-out infinite
}

.setting-form .login-control,
.age-form .age-control {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

#login,
.submit-user,
#age,
.submit-user-age {
    border: none;
    background-color: var(--darker-grey-color);
    padding: 1.5em;
    outline: none;
    border: 1px solid var(--most-darker-grey-color);
}

.setting-form #login,
.age-form #age {
    width: 80%;
    border-top-left-radius: var(--input-btn-radius);
    border-bottom-left-radius: var(--input-btn-radius);
    border-right: none;
    color: var(--light-text-color);
    font-size: 1em;
    font-weight: bold;
}

#login::placeholder,
#age::placeholder {
    font-weight: 600;
    color: var(--darker-text-color);
}

.setting-form .submit-user,
.age-form .submit-user-age {
    width: 20%;
    border-top-right-radius: var(--input-btn-radius);
    border-bottom-right-radius: var(--input-btn-radius);
    border-left: none;
    color: var(--light-text-color);
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
}

.age-section {
    z-index: 1;
    background: linear-gradient(90deg, var(--pink-color) 50%, var(--darker-pink-color) 50%);
}



input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }

}

/*** setting todo content ***/

.section-container {
    width: 35%;
    background-color: var(--lighter-grey-color);
    border-radius: var(--box-radius);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* navbar */
.navbar {
    position: relative;
    width: 100%;
    border-bottom: 1px solid var(--most-darker-grey-color);
    color: var(--light-text-color);
    padding: 1em 1.5em;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
}

.settings {
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    color: var(--light-blue-color);
    opacity: 1;
    outline: none;
    transition: all 0.4s ease;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings:hover {
    opacity: 0.8;
}

/* settings box */
.settings-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    padding: 1.25em;
    top: 100%;
    right: 2%;
    width: auto;
    height: auto;
    background-color: var(--blue-grey-color);
    z-index: 0;
    display: none;
    border-radius: var(--box-radius);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 3;

}

.settings-box li {
    list-style: none;
    margin-top: 0.4em;

}

.settings-box i {
    margin-right: 0.5em;
}

.settings-box a {
    color: var(--light-blue-color);
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    transition: all 0.4s ease;
}

.settings-box a:hover {
    opacity: 0.8;
}

.settings-box::after {
    content: "";
    position: absolute;
    top: -5%;
    width: 1em;
    height: 1em;
    background-color: var(--blue-grey-color);
    right: 10%;
    margin-left: -5px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: -1;
}

.settings-box.display {
    display: flex;
}

/* content */
.content {
    padding: 1em 3em;
    transition: all 0.5s;
}

/* todo form */
.todo-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* alert */
.alert {
    position: relative;
    width: 50%;
    text-align: center;
    color: var(--light-text-color);
    padding: 0.5em;
    font-size: 0.8em;
    border-radius: var(--box-radius);
    margin-bottom: 1em;
    visibility: hidden;
}

.alert.active {
    visibility: visible;
}

.todo-form .heading {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.date {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-left,
.arrow-right {
    outline: none;
    border: none;
    background: none;
    color: var(--darker-grey-color);
    font-size: 3em;
    cursor: pointer;
    transition: all 0.4s ease;
}

.arrow-left:hover,
.arrow-right:hover {
    opacity: 0.5;
}

.arrow-left {
    margin-right: 0.8em;
}

.arrow-right {
    margin-left: 0.8em;
}

.arrow-right.unactive {
    opacity: 0.5;
    pointer-events: none;
}

.todo-form h3 {
    font-size: 2em;
    color: var(--light-text-color);
    letter-spacing: 0.1em;
    text-transform: capitalize;
    margin-bottom: 0.2em;
}

.todo-form .datum {
    color: var(--darker-text-color);
    font-weight: 600;
    margin-bottom: 1em;
}

/* form control */
.form-control {
    width: 100%;
    display: flex;
}

.form-control #todo,
.form-control .submit-btn {
    position: relative;
    padding: 1em 1.5em;
    outline: none;
    letter-spacing: 0.05em;
    margin-bottom: 1em;

}

#todo {
    width: 80%;
    background-color: var(--darker-grey-color);
    border: 1px solid var(--most-darker-grey-color);
    border-right: none;
    color: var(--light-text-color);
    font-weight: bold;
    border-top-left-radius: var(--input-btn-radius);
    border-bottom-left-radius: var(--input-btn-radius);

}

#todo::placeholder {
    color: var(--darker-text-color);
}

.submit-btn {
    width: 20%;
    border: 1px solid var(--most-darker-grey-color);
    border-top-right-radius: var(--input-btn-radius);
    border-bottom-right-radius: var(--input-btn-radius);
    border-left: none;
    background-color: var(--darker-grey-color);
    color: var(--light-text-color);
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.4s ease;
}

.submit-btn:hover {
    opacity: 0.9;
}

.todo-container {
    display: flex;
    flex-direction: column;
    display: none;
    padding-top: 1em;
    border-top: 1px solid var(--most-darker-grey-color);

}

.show-container {
    display: flex;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    color: var(--light-text-color);
}

.task {
    display: flex;
    align-items: center;
}



.btn-container button {
    border: none;
    background: none;
    font-size: 1em;
    margin-left: 0.5em;
    outline: none;
    cursor: pointer;
    transition: all 0.4s ease;
}

.btn-container button:hover {
    opacity: 1;
}

button.edit-btn {
    color: var(--light-blue-color);
}

button.delete-btn {
    color: var(--light-blue-color);
}

.clear-btn {
    margin-top: 2em;
    border: none;
    background: none;
    color: var(--darker-text-color);
    cursor: pointer;
    outline: none;
    letter-spacing: 0.1em;
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 0.5em;
}


.success {
    background-color: var(--darker-grey-color);
    border: 1px solid var(--most-darker-grey-color);
}

.danger {
    background-color: var(--darker-grey-color);
    border: 1px solid var(--most-darker-grey-color);
}

/* settings container */
.settings-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 10;
}

.content-container {
    position: relative;
    width: 30%;
    height: auto;
    background-color: var(--lighter-grey-color);
    border-radius: var(--box-radius);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.setting-navbar {
    position: relative;
    width: 100%;
    border-bottom: 1px solid var(--most-darker-grey-color);
    color: var(--darker-text-color);
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.setting-navbar a {
    position: relative;
    font-weight: 600;
    margin: 0 1.5em;
    padding: 0.8em 0;
    cursor: pointer;
    transition: all 0.5s ease;
}

.setting-navbar a:hover {
    color: var(--light-text-color);
}

.setting-navbar a.active {
    color: var(--light-text-color);
    border-bottom: 2px solid var(--pink-color);
}

.setting-acc-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;

}

.setting-acc-content button,
.setting-acc-content input {
    position: relative;
    padding: 1.5em 2em;
    outline: none;
    letter-spacing: 0.05em;
    margin-bottom: 1em;
}

.setting-acc-content input {
    width: 100%;
    background-color: var(--darker-grey-color);
    border: 1px solid var(--most-darker-grey-color);
    color: var(--light-text-color);
    font-weight: bold;
    border-radius: var(--input-btn-radius);

}

.setting-acc-content input::placeholder {
    color: var(--darker-text-color);
}

.setting-acc-content button {
    width: 100%;
    border: 1px solid var(--most-darker-grey-color);
    border-radius: var(--input-btn-radius);
    background-color: var(--darker-grey-color);
    color: var(--light-text-color);
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.4s ease;
}

.setting-col-content {
    padding: 1em;
    display: flex;
    justify-content: center;
    color: var(--darker-text-color);
}

.setting-acc-content button:hover {
    opacity: 0.9;
}

.setting-content {
    display: none;
}

.setting-content.active {
    display: flex;
}

.id {
    color: var(--light-text-color);
    margin: 1em 0;
    font-weight: bold;
    font-size: 0.9em;

}

.id span {
    color: var(--darker-text-color);
    font-weight: 600;
}

.setting-acc-content button.remove-acc {
    background: none;
    border: none;
    padding: 0;
    margin-top: 0.3em;
    color: var(--darker-pink-color);
    transition: all 0.4s ease;
    font-size: 0.6em;
}







/* media query */
@media (max-width: 1400px) {
    .section-container {
        width: 50%;
    }

    .setting-form,
    .age-form {
        width: 65%;
    }
}

@media (max-width: 1000px) {
    .section-container {
        width: 75%;
    }

    .setting-form,
    .age-form {
        width: 95%;
    }

    .content-container {
        width: 50%;
    }
}

@media (max-width: 650px) {
    .section-container {
        width: 90%;
    }

    .content {
        padding: 1em 2em;
    }

    .setting-form,
    .age-form {
        width: 95%;
        padding: 1em;
    }

    .setting-form .submit-user,
    .age-form .submit-user-age {
        width: 40%;
    }

    .content-container {
        width: 70%;
    }
}

@media (max-width: 500px) {
    .section-container {
        width: 95%;
    }

    .form-control {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .form-control #todo {
        margin-bottom: 0;
    }

    .form-control .submit-btn {
        margin-bottom: 1em;

    }

    #todo {
        width: 100%;
        background-color: var(--darker-grey-color);
        border: 1px solid var(--most-darker-grey-color);
        border-bottom: 1px solid var(--most-darker-grey-color);
        color: var(--light-text-color);
        font-weight: bold;
        border-top-left-radius: var(--input-btn-radius);
        border-top-right-radius: var(--input-btn-radius);
        border-bottom-left-radius: 0em;
    }

    #todo::placeholder {
        color: var(--darker-text-color);
    }

    .submit-btn {
        width: 100%;
        border: 1px solid var(--most-darker-grey-color);
        border-top-right-radius: 0em;
        border-bottom-left-radius: var(--input-btn-radius);
        border-bottom-right-radius: var(--input-btn-radius);
        border-top: none;
        background-color: var(--darker-grey-color);
        color: var(--light-text-color);
        text-transform: capitalize;
        cursor: pointer;
        transition: all 0.4s ease;
    }
}